
<div class='mt-4'>
    <div class='row'>
        <div class='col-lg-12'>
            <div class="text-center">
               
                <div class="title-center">
                    <h1>Say less do more</h1>
                    <p>Life is a journey of self-discovery and growth, where challenges serve as opportunities for learning and personal transformation. Embrace the unknown, take risks, and let your passion guide you. In the face of adversity, find strength and resilience, for it is through facing challenges that we uncover our true potential. Embrace failures as stepping stones to success, and let perseverance be your compass. With determination, hard work, and a steadfast belief in your abilities, you have the power to create your own destiny and achieve greatness. Remember, success is not merely reaching a destination, but rather the continuous pursuit of excellence and the fulfillment found in the journey itself</p>
                </div>
                
                

            </div>
        </div>
        {{#each Blog}}
        <div class='col-sm-6 col-lg-4 mb-4 {{#unless @last}}mr-4{{/unless}}'>
            <div class='card cars-course-item my-card'>
                <div class='card-body'>
                    <h5 class='card-title' style="font-weight: bold;">{{this.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Thời gian tạo bài viết: {{createdDate}}</h6>
                    <p class="card-text">{{this.text}}</p>
                </div>
                <div class='card-footer'> 
                    <a href='/read?_id={{this._id}}' class='btn btn-outline-primary' style="margin-right: 10px;">Đọc bài viết</a>
                    <a href='/blogs/{{this._id}}/edit' class='btn btn-outline-primary' style="margin-left: 10px">Sửa bài viết</a>
                    
                </div>
            </div>
        </div>

        {{/each}}

    </div>
</div>

<nav aria-label="Page navigation" class="mt-4">
  <ul class="pagination justify-content-end">
    {{#each pages}}
      {{#if isCurrent}}
        <li class="page-item active">
          <span class="page-link">{{pageNumber}}</span>
        </li>
      {{else}}
        <li class="page-item">
          <a class="page-link" href="?page={{pageNumber}}">{{pageNumber}}</a>
        </li>
      {{/if}}
    {{/each}}
  </ul>
</nav>




